*.obj
*.log
*.exe
*.tlog
*.pdb
*.idb
*.ncb
*.sdf
*.filters
*.suo
*.user
*.ilk
*.zip
*.rc
*.manifest
*.lastbuildstate
*.ipch
*.res
*.unsuccessfulbuild
*.classpath
*.project
*.prefs
*.class
*.in
*.bak
*.dsp
*.dsw
*.htm
*.idea
*.xml
