
doctype html
head
	title="chat app"
body
	#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
	.controls
		input.field(style='width:350px;')
		input.send(type='button', value='send')