body {
	font-family: Sans-Serif;
}

.marginwrapper { margin: 0px 64px 0px 64px; }

.mainwrapper {
	margin: 42px auto 0px auto;
}

h1 {
	font-size: 1.2em;
}

.centered_text {
	text-align: center;
}

.left-text{
text-align: left;
}

.compact {
	line-height: 0.25em;
}

.center {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width:70%	
}

#left {
	width: 49%;
	float: left;
}

#right {
	margin-left: 50%;/* Change this to whatever the width of your left column is*/
	max-width: 50%;
}
#left h1, #right h1, #left p, #right p { margin: 0px;}

.clear {
  clear: both;
}

@media print {
	body {
		font-size: 0.7em;
	}
	
	a {
		color: black;
		text-decoration: none;
	}

	.marginwrapper {
		margin: 0px;
	}
	
	.center {
		text-align: center;
		margin-left:auto;
		margin-right:auto;
	}
}