body {

	color: white;
	background-color: #282828;

}

.button{
	
	/*font-family: Courier New", Courier, monospace;*/
	color: black;
	background-color: white;
	padding: 2px 6px 2px 6px;
	right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	
}

.x_button{
	
	/*font-family: Courier New", Courier, monospace;*/
	color: black;
	background-color: white;
	/*padding: 2px 6px 2px 6px;*/
	/*right: 1px solid #333333;*/
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	margin: 2px;	
	position: absolute;
	right: 0px;
	display: inline;
}

/* style the container that contains the list */
#list_container {

	position: absolute;
	margin: 10px;
	width: auto;
	height: auto;

}

.to_do_span {

	float: left;
	display: inline;

}

.div_list_item {

	float: left;
	text-align: left;
	width: 100%;
	display: block;

}

.list_item {

	width: auto;
	height: auto;
	margin: 3px;
	
}

.hex_color_input {

	

}