body {

	color: white;
	background-color: #282828;

}

.button{
	
	/*font-family: Courier New", Courier, monospace;*/
	color: black;
	background-color: white;
	padding: 2px 6px 2px 6px;
	right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	
}

.x_button{
	
	/*font-family: Courier New", Courier, monospace;*/
	color: black;
	background-color: white;
	/*padding: 2px 6px 2px 6px;*/
	/*right: 1px solid #333333;*/
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	margin: 2px;
	
}

/* style the container that contains the list */
#list_container {

	position: absolute;
	margin: 10px;
	width: auto;
	height: auto;

}

.list_item {

	width: auto;
	height: auto;
	margin: 3px;

}

.hex_color_input {

	

}